/* 页面整体 */
html {
  overflow-y: scroll; /* 始终显示滚动条轨道 */
  scrollbar-gutter: stable; /* 现代浏览器支持 */
}

body {
    margin: auto;
    max-width: 580px;
    font-size: 14px;
    font-family: Helvetica, Arial, sans-serif;
}

/* 页脚 */
footer {
    color: #888;
    margin-top: 15px;
    text-align: center;
    padding: 10px;
}


/* 头像 */
.avatar {
    width: 40px;
}

/* 电影列表 */
.movie-list {
    list-style-type: none;
    padding: 0;
    margin-bottom: 10px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.movie-list li {
    padding: 12px 24px;
    border-bottom: 1px solid #ddd;
}

.movie-list li:last-child {
    border-bottom:none;
}

.movie-list li:hover {
    background-color: #f8f9fa;
}

/* 评论列表 */
.comment-list {
    list-style-type: none;
    padding: 0;
    margin-bottom: 10px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.comment-list li {
    padding: 12px 24px;
    border-bottom: 1px solid #ddd;
}

.comment-list li:last-child {
    border-bottom:none;
}

.comment-list li:hover {
    background-color: #f8f9fa;
}



/* 龙猫图片 */
.totoro {
    display: block;
    margin: 0 auto;
    height: 100px;
}

.float-right {
    float: right;
}

.imdb {
    color: #F5C518;
    text-decoration: none;
    border-color: #F5C518;
}

.imdb:hover {
    background-color: #F5C518;
}

.inline-form {
    display: inline;
}

